.navbar {
	border-radius: 0;
}

.navbar-default {
	background-color: #023379;
	border: none;
}
.navbar-default .navbar-nav > li > a, .navbar i {
    color: #EDF2F6;
}
.navbar-default .navbar-nav > li > a:hover, .navbar i:hover {
    color: white;
}