.navbar {
	border-radius: 0;
}
.navbar-default {
	background-color: #023379;
	border: none;
}
.navbar-default .navbar-nav > li > a {
    color: #EDF2F6;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #EDF2F6;
}
.navbar i {
	font-size: 18px;
	color: #EDF2F6;
}
.badge {
    background-color: #ff4e36;
    border-radius: 2em;
    font-family: Arial;
    font-size: 10px;
    padding: 4px;
    -webkit-transform: translateX(-43%) translateY(-42%);
		-moz-transform: translateX(-43%) translateY(-42%);
		-ms-transform: translateX(-43%) translateY(-42%);
		-o-transform: translateX(-43%) translateY(-42%);
    transform: translateX(-43%) translateY(-42%);
}
.badge-border {
	border: 2px solid white;
	padding: 2px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #FFF;
}
.open a i {
	color: #333;
}
.navbar-nav > li > .dropdown-menu {
	width: 35em;
	height: 30em;
}