em, .multiple-styles {
	font-size: 12px;
}
.navbar {
	border-radius: 0;
}
.navbar-default {
	background-color: #023379;
	border: none;
}
.navbar-default .navbar-nav > li > a {
    color: #EDF2F6;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #EDF2F6;
}
.navbar i.fa-shopping-cart {
	font-size: 18px;
}
.badge {
    background-color: #ff4e36;
    border-radius: 2em;
    font-family: Arial;
    font-size: 10px;
    padding: 2px;
    -webkit-transform: translateX(-43%) translateY(-42%);
		-moz-transform: translateX(-43%) translateY(-42%);
		-ms-transform: translateX(-43%) translateY(-42%);
		-o-transform: translateX(-43%) translateY(-42%);
    transform: translateX(-43%) translateY(-42%);
    border: 2px solid white;
}
/*.badge-border {
	border: 2px solid white;
	padding: 2px;
}*/
.badge-less-than-10 {
	padding: 2px 4px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #FFF;
}
.open a i {
	color: #333;
}
.navbar-nav > li > .dropdown-menu {
	width: 35em;
	max-height: 30em;
}
.fa-circle {
	color: #CCC;
}
.fa-times {
	color: #FFF;
}
.dropdown-menu {
	padding: 25px;
}
.model-number {
  font-weight: 300;
}
.navbar-nav .open .dropdown-menu {
	background-color: #FFF;
}
.you-save {
	padding-bottom: 34px;
}
.quantity1 {
	border: 2px solid #D7D7D7;
  height: 36px;
  text-indent: 23px;
  width: 31%;
  margin-bottom: 10px;
  margin-top: -8px;
}
.cart-item1 {
	padding-top: 1px;
}






















