/*For viewports greater than 768*/
@media screen and (min-width: 768px) {
	.times-circle {
    bottom: 64px;
    right: 25px;
	}
	.times-circle2 {
    bottom: 112px;
    right: 25px;
	}
}
/*For viewports less than 768*/
@media screen and (max-width: 768px) {
	.cart-button {
		margin-right: 68%;
	  margin-top: -4%;
	}
	.checkout-button {
		margin-right: 30%;
	  margin-top: -33px;
	}
}